[submodule "generic.normalize"]
	path = generic.normalize
	url = git@github.com:dragoncss/generic.normalize.git
[submodule "generic.reset"]
	path = generic.reset
	url = git@github.com:dragoncss/generic.reset.git
[submodule "generic.clearfix"]
	path = generic.clearfix
	url = git@github.com:dragoncss/generic.clearfix.git
[submodule "objects.nav"]
	path = objects.nav
	url = git@github.com:dragoncss/objects.nav.git
[submodule "objects.media"]
	path = objects.media
	url = git@github.com:dragoncss/objects.media.git
[submodule "objects.layout"]
	path = objects.layout
	url = git@github.com:dragoncss/objects.layout.git
[submodule "base.images"]
	path = base.images
	url = git@github.com:dragoncss/base.images.git
[submodule "trumps.widths"]
	path = trumps.widths
	url = git@github.com:dragoncss/trumps.widths.git
[submodule "base.typography"]
	path = base.typography
	url = git@github.com:dragoncss/base.typography.git
[submodule "tools.helpers"]
	path = tools.helpers
	url = git@github.com:dragoncss/tools.helpers.git
[submodule "generic.box-sizing"]
	path = generic.box-sizing
	url = git@github.com:dragoncss/generic.box-sizing.git
