// font vars
$font-size: 16px;
$line-height: 24px;

$face-sans-serif: Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
$face-serif: Georgia;

// spacing vars
$base-spacing: $line-height;
$half-spacing: $base-spacing / 2;
