// Default
@import   'defaults';


// generics
@import   'generic.normalize/normalize'
        , 'generic.box-sizing/box-sizing'
        , 'generic.clearfix/clearfix'
        , 'generic.reset/reset';


// trumps
@import   'trumps.widths/widths';


// base
@import   'base.images/images'
        , 'base.typography/typography';


// objects
@import   'objects.layout/layout'
        , 'objects.nav/nav'
        , 'objects.media/media';


// tools
@import   'tools.helpers/helpers';


.wrapper {
    margin: 0 auto;
    padding: 24px 0;
    width: 960px;

    @include media-query(portable) {
        width: 94%;
    }
}
